@import 'styles/variables';
.sidebar {
  width: 15em;
  padding: 0 1em;

  .menuitem {
    border-radius: 0.5em;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    color: $black-2;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 1em;

    &.active,
    &:hover {
      .icon {
        color: $primaryColor;
        transition: color $transitionTime ease;
      }
    }
    .icon {
      text-align: center;
      padding: 0.5em;
    }
    .label {
      padding: 0.5em;
      flex: 1;
      &.active {
        color: $primaryColor;
      }
    }
  }
  .header,
  .footer {
    margin: 3em 0;
  }
  .header {
    .menuitem {
      background-color: $primaryColor;
      color: $white-1;
      .icon {
      }
      .label {
      }
    }
  }
  .footer {
    .menuitem {
      .icon {
      }
      .label {
      }
    }
  }
}
