@import 'styles/variables';

.container {
  display: flex;

  .content {
    flex: 1;
    background-color: $softPrimaryColor;
    position: relative;
    height: 100%;
    .layout {
      .card {
        background-color: $white-1;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
