@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primaryColor: rgb(88, 0, 170);
$softPrimaryColor: #f5f6fa;

$transitionTime: 0.3s;

$black-1: #000;
$black-2: #3d3d3d;
$black-3: rgb(128, 128, 128);
$white-1: #fff;
$white-2: #dfdfdf;
